{#<!--
Gibbon: the flexible, open school platform
Founded by Ross Parker at ICHK Secondary. Built by Ross Parker, Sandra Kuipers and the Gibbon community (https://gibbonedu.org/about/)
Copyright © 2010, Gibbon Foundation
Gibbon™, Gibbon Education Ltd. (Hong Kong)

This is a Gibbon template file, written in HTML and Twig syntax.
For info about editing, see: https://twig.symfony.com/doc/2.x/
-->#}

{% extends "components/dataTable.twig.html" %}

{% block title %}
{% endblock title %}

{% block description %}
{% endblock description %}

{% block table %}

    <header class="relative print:hidden w-full flex justify-between items-end">
        {% block header %}
            {% if table.getTitle %}
            <h2 class="text-xl font-medium antialiased mt-8 mb-2">{{ table.getTitle|raw }}</h2>
            {% endif %}

            {% if table.getHeader %}
            <div class="linkTop flex-1 flex justify-end items-end gap-2 mb-2 h-10 py-px">
                {% for action in table.getHeader %}
                    {{ action.getOutput|raw }}
                {% endfor %}
            </div>
            {% endif %}
            
        {% endblock header %}
    </header>

    {% if rows is empty %}
        <div class="h-48 panel-content  shadow-inner overflow-hidden">
            {% block blankslate %}
            {{ include('components/blankSlate.twig.html') }}
            {% endblock blankslate %}
        </div>
    {% else %}
    
        {% for rowIndex, rowData in rows %}
            
            {% for heading, headingColumns in groups %}
            <div class="panel"> 
                {% if heading %}
                <div class="flex flex-col items-start justify-between px-3 py-2">
                    <h4 class="font-medium [&:has(+[data-ui-subheading])]:mb-0.5 [&:has(+[data-ui-subheading])]:text-gray-925 dark:[&:has(+[data-ui-subheading])]:text-white antialiased flex items-center text-base gap-3 tracking-tight text-gray-800 dark:text-white">{{ __(heading) }}</h4>
                </div>
                {% endif %}

                <div class="panel-content sm:grid {{ gridClass|default('grid-cols-2 md:grid-cols-3') }} gap-0 overflow-clip">
            
                {% for columnIndex, column in headingColumns %}

                    <section class="{{ column.getClass }}" style="{{ column.getWidth != 'auto' ? 'width: ' ~ column.getWidth }}" >
                        <header class="block text-sm text-gray-700 dark:text-gray-300 font-semibold mb-1.5">{{ column.getLabel | raw }}</header>
                        <span class="block text-sm text-gray-700 dark:text-gray-300 overflow-x-auto">{{ column.getOutput(rowData) | raw }}</span>
                    </section>

                {% endfor %}
                </div>
            </div>
            {% endfor %}

            
        {% endfor %}

    {% endif %}



{% endblock table %}

