{#<!--
Gibbon: the flexible, open school platform
Founded by Ross Parker at ICHK Secondary. Built by Ross Parker, Sandra Kuipers and the Gibbon community (https://gibbonedu.org/about/)
Copyright © 2010, Gibbon Foundation
Gibbon™, Gibbon Education Ltd. (Hong Kong)

This is a Gibbon template file, written in HTML and Twig syntax.
For info about editing, see: https://twig.symfony.com/doc/2.x/
-->#}

{% extends "components/dataTable.twig.html" %}

{% block table %}
    <div class="relative">
        <div id="{{ table.getID }}">
            <div class="dataTable" data-results="{{ dataSet.getResultCount }}">
                {{ parent() }}
            </div>
        </div>

        {{ block('bulkActions') }}
    </div>

    <script>
    $(function(){
        $('#{{ table.getID }}').gibbonDataTable( '{{ path|raw }}', {{ jsonData|raw }}, '{{ identifier }}');
    });
    </script>
{% endblock table %}


{% block header %}
    <div class="flex items-end justify-between" style="min-height:50px;">
        <div class="flex items-end pb-2 {{ dataSet.getTotalCount > 0 ? 'h-10' : '' }}">
            {{ block('pageCount') }}
        </div>

        {{ parent() }}
    </div>

    {% if dataSet.getTotalCount > 0 and not hidePagination %}
    <div class="flex flex-wrap sm:flex-no-wrap items-stretch justify-between">
        <div role="group" class="button-group mb-2">
            {% if pageSize and dataSet.getResultCount > 20 %}
            <!-- <div class="relative inline-flex -mr-1 mb-2"> -->
                {{ pageSize|raw }}
            <!-- </div> -->
            {% endif %}

            {% if filterOptions %}
            <!-- <div class="relative inline-flex mb-2"> -->
                {{ filterOptions|raw }}
            <!-- </div> -->
            {% endif %}
            
            {% if filterCriteria and filterOptions %}
            <!-- <nav class="inline-flex cursor-default mb-2"> -->
                {{ block('filters') }}
            <!-- </nav> -->
            {% endif %}
        </div>

        {% if listOptions %}
            {{ include('components/listOptions.twig.html') }}
        {% endif %}

        <!-- {{ block('pagination') }} -->
    </div>
    {% endif %}
{% endblock header %}


{% block footer %}
    {% if dataSet.getResultCount > dataSet.getPageSize %}
    <div class="flex items-center justify-between mt-2">

        <div class="flex items-center  {{ dataSet.getTotalCount > 0 ? 'h-10' : '' }}">
            {{ block('pageCount') }}
        </div>

        <div class="">
            {{ block('pagination') }}
        </div>
    </div>
    {% endif %}
    
{% endblock footer %}


{% block filters %}
    {% for name, label in filterCriteria %}
        <button type="button" class="filter btn-outline text-xs text-white font-semibold whitespace-nowrap bg-blue-500 dark:bg-blue-800 border-0 ring-1 ring-inset ring-blue-700 dark:ring-blue-700 {{ not loop.first ? '-ml-px'}}" data-filter="{{ name }}">
            {{ label|raw }}
        </button>
    {% endfor %}
    
    <button type="button" class="filter clear btn-outline">
        <span class="sr-only">
            {{ __('Clear') }}
        </span>
        {{ icon('basic', 'x-mark', 'size-5' ) }}
    </button>

{% endblock filters %}


{% block pageCount %}
    {% if dataSet.getTotalCount > 0 %}
    <div class="text-xs text-gray-700 dark:text-gray-300">
        {{ searchText ? __('Search') ~ " " }}

        {{ dataSet.isSubset ? __('Results') : __('Records') }}

        {% if dataSet.count > 0 %}
            <span class="font-medium">{{ dataSet.getPageFrom }}</span>
            {{ __('to') }}
            <span class="font-medium">{{ dataSet.getPageTo }}</span> {{ __('of') }}
        {% endif %} 
        
        <span class="font-medium">{{ dataSet.getResultCount|number_format }}</span>
    </div>
    {% endif %}
{% endblock pageCount %}


{% block pagination %}
    
    {% if dataSet.getPage > 0 and (dataSet.getResultCount > dataSet.getPageSize or filterOptions) %}
    <nav role="group" class="pagination isolate button-group" aria-label="Pagination">

        <button type="button" class="paginate btn-sm-icon-outline" data-page="{{ dataSet.getPrevPageNumber }}" {{ dataSet.isFirstPage ? 'disabled'}}>
            <span class="sr-only">
                {{ __('Prev') }}
            </span>
            {{ icon('basic', 'chevron-left', 'size-5' ) }}
        </button>

        {%- for page in dataSet.getPaginatedRange -%}
            {%- if page == '...' -%}
                <button type="button" class="btn-sm-outline hidden sm:inline-flex" disabled>...</button>
            {%- else -%}
                <button type="button" class="paginate btn-sm-outline  {{ page == dataSet.getPage ? 'text-white bg-blue-500 dark:bg-blue-600 border-0 ring-1 ring-inset ring-blue-700 dark:ring-blue-800' : 'z-0 hidden sm:inline-flex ' }}" data-page="{{ page }}" {{ page == dataSet.getPage ? 'aria-current="page"' }}>{{ page }}</button>
            {%- endif -%}
        {%- endfor -%}

        <button type="button" class="paginate btn-sm-icon-outline" data-page="{{ dataSet.getNextPageNumber }}" {{ dataSet.isLastPage ? 'disabled'}}>
            <span class="sr-only">
                {{ __('Next') }}
            </span>
            {{ icon('basic', 'chevron-right', 'size-5' ) }}
        </button>
    </nav>
    {% endif %}
    
{% endblock pagination %}


{% block bulkActions %}
    {% if bulkActions %}
    <div class="bulkActionPanel hidden absolute top-0 right-0 w-full flex items-center justify-between p-1 pt-2 bg-theme-600 rounded-t-md z-20">
        <div class="bulkActionCount flex-grow text-white text-sm text-right pr-3">
            <span>0</span> {{ __('Selected') }}
        </div>
        
        {{ bulkActions.getOutput|raw }}

        <script>
            {{ bulkActions.getValidationOutput|raw }}
        </script>
    </div>
    {% endif %}
{% endblock bulkActions %}

