{#<!--
Gibbon: the flexible, open school platform
Founded by Ross Parker at ICHK Secondary. Built by Ross Parker, Sandra Kuipers and the Gibbon community (https://gibbonedu.org/about/)
Copyright © 2010, Gibbon Foundation
Gibbon™, Gibbon Education Ltd. (Hong Kong)

This is a Gibbon template file, written in HTML and Twig syntax.
For info about editing, see: https://twig.symfony.com/doc/2.x/
-->#}

{% extends "components/dataTable.twig.html" %}

{% block table %}
    <div class="relative">
        <div id="{{ table.getID }}">
            <div class="dataTable" data-results="{{ dataSet.getResultCount }}">
                {{ parent() }}
            </div>
        </div>

        {{ block('bulkActions') }}
    </div>

    <script>
    $(function(){
        $('#{{ table.getID }}').gibbonDataTable( '{{ path|raw }}', {{ jsonData|raw }}, '{{ identifier }}');
    });
    </script>
{% endblock table %}


{% block header %}
    <div class="flex flex-wrap sm:flex-no-wrap items-stretch justify-between gap-2 mt-4 mb-3">

        {% if dataSet.getTotalCount > 0 %}
        <div class="flex-1 flex justify-start items-center gap-2">
            <div role="group" class="button-group">

                {% if filterOptions %}
                    {{ filterOptions|raw }}
                {% endif %}
                
                {% if filterCriteria and filterOptions %}
                    {{ block('filters') }}
                {% endif %}
                
                {% if filterOptions %}
                    <div class="button-wrap" x-data="{}" @keydown.enter.prevent="document.getElementById('search').value = $refs.quickSearch.value; document.getElementById('searchForm')?.submit()">
                        <input type="text" class="input pl-9 w-full max-w-64" size="32" name="quickSearch" placeholder="{{ __('Search') }}" x-ref="quickSearch" value="{{ searchText }}">

                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" stroke="currentColor" class="ml-2 size-5">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m12.712 12.712 3.538 3.538m-2-7.25a5.25 5.25 0 1 1-10.5 0 5.25 5.25 0 0 1 10.5 0Z"></path>
                        </svg>
                    </div>
                {% endif %}
            </div>

            {% if filterOptions %}
            <button @click="searchOpen = true" class="button button-icon" title="{{ __('Advanced Options') }}">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path d="M18.75 12.75h1.5a.75.75 0 0 0 0-1.5h-1.5a.75.75 0 0 0 0 1.5ZM12 6a.75.75 0 0 1 .75-.75h7.5a.75.75 0 0 1 0 1.5h-7.5A.75.75 0 0 1 12 6ZM12 18a.75.75 0 0 1 .75-.75h7.5a.75.75 0 0 1 0 1.5h-7.5A.75.75 0 0 1 12 18ZM3.75 6.75h1.5a.75.75 0 1 0 0-1.5h-1.5a.75.75 0 0 0 0 1.5ZM5.25 18.75h-1.5a.75.75 0 0 1 0-1.5h1.5a.75.75 0 0 1 0 1.5ZM3 12a.75.75 0 0 1 .75-.75h7.5a.75.75 0 0 1 0 1.5h-7.5A.75.75 0 0 1 3 12ZM9 3.75a2.25 2.25 0 1 0 0 4.5 2.25 2.25 0 0 0 0-4.5ZM12.75 12a2.25 2.25 0 1 1 4.5 0 2.25 2.25 0 0 1-4.5 0ZM9 15.75a2.25 2.25 0 1 0 0 4.5 2.25 2.25 0 0 0 0-4.5Z" />
                </svg>                  
            </button>
            {% endif %}

            {% if isFiltered %}
            <div role="group" class="button-group">
                <button class="button">
                    {{ dataSet.getResultCount|number_format }} {{ __n('Result', 'Results', dataSet.getResultCount) }}
                </button>
                <button type="button" class="filter clear button button-icon">
                    <span class="sr-only">
                        {{ __('Clear') }}
                    </span>
                    {{ icon('basic', 'x-mark', 'size-5' ) }}
                </button>
            </div>
            {% endif %}
        </div>
        {% endif %}

        <div class="flex justify-end items-center gap-2">
            {% if listOptions %}
                {{ include('components/listOptions.twig.html') }}
            {% endif %}

            {{ parent() }}
        </div>
    </div>
    
{% endblock header %}


{% block footer %}
    
    <div class="flex items-center justify-between mt-2">

        <div class="flex items-center  {{ dataSet.getTotalCount > 0 ? 'h-10' : '' }}">
            {{ block('pageCount') }}
        </div>

        {% if dataSet.getResultCount > dataSet.getPageSize %}
        <div class="">
            {{ block('pagination') }}
        </div>
        {% endif %}

        <div class="flex items-center gap-2 text-xs">
            {% if pageSize and dataSet.getResultCount > 20 %}
                {{ __('Per Page') }}
                {{ pageSize|raw }}
            {% endif %}
        </div>
    </div>
    
    
{% endblock footer %}


{% block filters %}
    {% for name, label in filterCriteria %}
        <button type="button" class="filter button-outline text-xs text-white font-semibold whitespace-nowrap bg-blue-500 dark:bg-blue-800 border-0 ring-1 ring-inset ring-blue-700 dark:ring-blue-700 -ml-px" data-filter="{{ name }}">
            {{ label|raw }}
        </button>
    {% endfor %}

{% endblock filters %}


{% block pageCount %}
    {% if dataSet.getTotalCount > 0 %}
    <div class="text-xs text-gray-700 dark:text-gray-300">
        {{ searchText ? __('Search') ~ " " }}

        {{ dataSet.isSubset ? __('Results') : __('Records') }}

        {% if dataSet.count > 0 %}
            <span class="font-medium">{{ dataSet.getPageFrom }}</span>
            {{ __('to') }}
            <span class="font-medium">{{ dataSet.getPageTo }}</span> {{ __('of') }}
        {% endif %} 
        
        <span class="font-medium">{{ dataSet.getResultCount|number_format }}</span>
    </div>
    {% endif %}
{% endblock pageCount %}


{% block pagination %}
    
    {% if dataSet.getPage > 0 and (dataSet.getResultCount > dataSet.getPageSize or filterOptions) %}
    <nav role="group" class="pagination isolate button-group" aria-label="Pagination">

        <button type="button" class="paginate button-sm-outline button-sm-icon" data-page="{{ dataSet.getPrevPageNumber }}" {{ dataSet.isFirstPage ? 'disabled'}}>
            <span class="sr-only">
                {{ __('Prev') }}
            </span>
            {{ icon('basic', 'chevron-left', 'size-5' ) }}
        </button>

        {%- for page in dataSet.getPaginatedRange -%}
            {%- if page == '...' -%}
                <button type="button" class="button-sm-outline hidden sm:inline-flex" disabled>...</button>
            {%- else -%}
                <button type="button" class="paginate button-sm-outline  {{ page == dataSet.getPage ? 'text-white bg-blue-500 dark:bg-blue-600 border-0 ring-1 ring-inset ring-blue-700 dark:ring-blue-800' : 'z-0 hidden sm:inline-flex ' }}" data-page="{{ page }}" {{ page == dataSet.getPage ? 'aria-current="page"' }}>{{ page }}</button>
            {%- endif -%}
        {%- endfor -%}

        <button type="button" class="paginate button-sm-outline button-sm-icon" data-page="{{ dataSet.getNextPageNumber }}" {{ dataSet.isLastPage ? 'disabled'}}>
            <span class="sr-only">
                {{ __('Next') }}
            </span>
            {{ icon('basic', 'chevron-right', 'size-5' ) }}
        </button>
    </nav>
    {% endif %}
    
{% endblock pagination %}


{% block bulkActions %}
    {% if bulkActions %}
    <div class="bulkActionPanel hidden absolute top-0 right-0 w-full flex items-center justify-between p-1 pt-2 bg-theme-600 rounded-t-md z-20">
        <div class="bulkActionCount flex-grow text-white text-sm text-right pr-3">
            <span>0</span> {{ __('Selected') }}
        </div>
        
        {{ bulkActions.getOutput|raw }}

        <script>
            {{ bulkActions.getValidationOutput|raw }}
        </script>
    </div>
    {% endif %}
{% endblock bulkActions %}

