{#<!--
Gibbon: the flexible, open school platform
Founded by Ross Parker at ICHK Secondary. Built by Ross Parker, Sandra Kuipers and the Gibbon community (https://gibbonedu.org/about/)
Copyright © 2010, Gibbon Foundation
Gibbon™, Gibbon Education Ltd. (Hong Kong)

This is a Gibbon template file, written in HTML and Twig syntax.
For info about editing, see: https://twig.symfony.com/doc/2.x/

Module Menu: Displays a list of module actions available for the 
current user. Outputs the sidebar in 'full' view-mode and as a 
collapsed drop-down list in 'mini' view-mode.
-->#}

{% set sidebarClass = '' %}

{% if sidebar or menuModule is not empty or not isLoggedIn %}
<div class="w-64 px-3 py-6 overflow-y-auto" x-data="{}" >

    {% if sidebar and sidebarPosition != 'bottom' %}
        {% for code in page.extraSidebar  %}
            {% if code is not empty %}
            <div class="{{ sidebarClass }} md:column-2 lg:column-1 pb-6 pt-2 lg:pb-8">
                {{ code|raw }}
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    
    {% if sidebar and sidebarContents is iterable %}
        {% for sidebarContent in sidebarContents %}
            {% if sidebarContent %}
            <div class="{{ sidebarClass }} md:column-2 lg:column-1 {{ page.breadcrumbs ? 'pt-4 lg:pt-0' }} pb-6 lg:pb-8">
                {{ sidebarContent|raw }}
            </div>
            {% endif %}
        {% endfor %}
    {% elseif sidebar and sidebarContents %}
        <div class="{{ sidebarClass }} md:column-2 lg:column-1 {{ page.breadcrumbs ? 'pt-4 lg:pt-0' }} pb-6 lg:pb-8">
            {{ sidebarContents|raw }}
        </div>
    {% endif %}
    
    {% if menuModule %}
    <nav x-cloak="{{ sidebar ? 'mobile' : 'off' }}"  x-data="{ menuItemActive: '{{ menuItemActive|replace({' ': '-', '&': '', '\'': ''}) }}' }" class="{{ sidebarClass }} w-full " >

        <ul class="w-full list-none m-0 px-0 md:pr-2">

            {% for categoryName, items in menuModule %}
                <li class="w-full column-no-break p-0">
                    <h5 class="m-0 mb-1 text-sm font-medium px-3 pt-2 pb-1 text-theme-600 border-b-0 dark:text-theme-400">
                        {{ __(categoryName, (items|first).textDomain) }}
                    </h5>
                    
                    <ul class="list-none m-0 mb-6">
                    {% for item in items %}
                        <li class=" -my-1">
                            <a hx-boost="true" hx-target="#content-wrap" hx-select="#content-wrap" hx-swap="outerHTML show:window:top swap:0s" hx-indicator="#loadingIndicator" @click="menuItemActive = '{{ item.actionName|replace({' ': '-', '&': '', '\'': ''}) }}'; sidebarToggle = pageWidth <= 768 ? false : sidebarToggle;"
                            href="{{ item.url }}" class="block relative text-gray-700 no-underline px-3 py-1  text-sm leading-normal lg:leading-normal rounded-lg transition cursor-pointer hover:bg-gray-200 dark:text-gray-300 dark:hover:bg-gray-700" :class="[ (menuItemActive === '{{ item.actionName|replace({' ': '-', '&': '', '\'': ''}) }}' ) ? 'navigation-link text-gray-900 bg-gray-300 font-semibold dark:text-gray-100 dark:bg-gray-600' : '' ] ">
                                {{ __(item.name, item.textDomain) }}
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </nav>
    {% endif %}
    
    {% if sidebar and sidebarPosition == 'bottom' %}
        {% for code in page.extraSidebar %}
        <div class="{{ sidebarClass }} md:column-2 lg:column-1 pb-6 lg:pb-8">
            {{ code|raw }}
        </div>
        {% endfor %}
    {% endif %}
</div>

{% endif %}
